body {
    background-color: mediumturquoise;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: radial-gradient();
}

main {
    margin: 0;
    background-origin: initial;
    background-color: skyblue;
}

.mainn{
    width: 100%;
    font: oblique;
    animation: cubic-bezier(1, 0, 0, 1);
    animation-play-state: running;
}

nav {
    width: 100%;
    background-color:red;
    font-size: 0.5rem;
    padding: .75rem;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    font-size: 1.5rem;
    margin-right: .5em;
    text-decoration: none;
}

iframe {
    padding-top: 20px;
    width: 400px;
    height: 250px;
}

#hamburger-menu {
    display: inline;
    margin-right: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    display: inline-block;
}

li {
    display: none;
}

nav a:hover {
    color: black;
    border-bottom: .4rem solid black;
}

@media (min-width: 598px) {
    #hamburger-menu {
        display: none;
    }

    li {
        display: inline;
    }

    textarea {
        height: 8em;
    }

    iframe {
        height: 350px;
        width: 500px;
    }
    .abdiwahid{
        display: -ms-flexbox;
    }
}

.abdiwahid{
    width: 450px;
    background-color: mediumvioletred;
    /* position:center;
    object-position: center;
    float: left; */
}
.outside{
    width: 430px;
    font-display: center;
}

.style-pargraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-variant: initial;
    font-kerning: normal;
    font-size: 300%;
    display: -webkit-flex;
}

.style-instagram{
    width: 440px;
}

form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 0 3px black;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    background-color: none;
    lighting-color: blueviolet;
}

.email{
    width: 70%;
}


form > div main {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
}

.input_user{
    font-size: 20%;

}

textarea {
    font-size: 20px;
    margin-bottom: 20px;
    height: 6em;
    background-color: orange;
}

button {
    padding: 8px;
    background-color: red;
    border-radius: 2px;
    font-size: 18px;
    text-align: center;
    margin: auto;

}

input {
    width: 350px;
    font-size: 45px;
    padding: 6px;
    background-color: yellow;
}
main, .background{
    background-color: none;
}

main, p, .contactUs{
    background-color: none;
    color: none;
    font-family:'Times New Roman', Times, serif;
}

p, .contactUs{
    color: black;
    font-size: 35px;
}

.About-Info{
    font-size: 35px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}

.graduation{
    width: 650px;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation: cubic-bezier(1, 0, 0, 1);
}

.Abdiwahid{
    background-clip: inherit;
    background-blend-mode: saturation;
    color:black;
    backface-visibility: initial;
}

.None{
    background-color: magenta;
    image-resolution: 35px;
    user-zoom: 100%;
    -webkit-break-after: avoid-region;
}

.Abdiwahid_Awesome{
    width: 425px;
    position: left;
    margin-left: 0vmax;
    margin-right: 1200px;
}

.change{
    background-color: olivedrab;
    kerning: 0vmin;
    quotes: unset;
    scrollbar-arrow-color: violet;
    align-self: start;
    unicode-bidi: isolate-override;
    border-end-end-radius: 10px;
    background-position-y: top;
}

.Contact_me{
    background-color: white;
    vertical-align: super;
    align-items: flex-start;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
    glyph-orientation-horizontal: unset;
}

.dubs_tech{
    width: 350px;
    margin-top:-620px;
}

.quotes{
    width: 444px;
}

.thankYou{
    width: 433px;
}

.Colors{
    background-color: gold;
}

.Large{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}